# Dependencies
/vendor/
/node_modules/

# Configuration and Secrets
.env
credentials.env
whitelist.env
*.env
/include/config.php
/config/

# Backups and Temporary Files
*.zip
*.rar
*.7z
/uploads/donations/

# Logs
*.log
